body{
	padding: 0px;
	margin: 0px;
}

header{
	background-color: #000000;
	padding: 15px;

}

body{
	background-color: #fff6ba;
	text-align: center;
}

#story{
	color:#000000;
	font-size: 25px;
	background-color: #d3d3d3;
	border: 10px solid #4d4e4f;
	padding: 50px;
	margin: 20px;
}

#story em{
	color:coral;
}

.heading{
	color:cadetblue;
}

button{
	background-color: #c0c0c0;
	border: none;
	height: 40px;
	border-radius: 12px;
	margin: 20px;
}

button:hover{
	background-color: #ffffff;
}

h1{
	font-size: 45px;
}

h2{
	font-size: 30px;
}

ul li{
	list-style-type: none;
}
p{
	font-size: 25px;
}